<div class="jumbotron">
	<h1>Cerebro</h1>
	<h2>Find and control your comics... all of them!</h2>
	<!-- the sign up button -->
	<a href="user/new">
		<button type="button" class="btn btn-primary">Sign Up</button>
	</a>
</div>

